body {
    font-family: Roboto;
    color: white;
    background-color: #404040;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://source.unsplash.com/collection/1041983/1920x1080");
}
.Greeting{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    margin: 0;
    font-size: 50px;
}
.Searchbar {
    border: none;
    font-size: 40px;
    color: white;
    background-color: #1a1a1a;
    opacity: 80%;
    position: absolute;
    border-radius: 13px;
    font-family: Roboto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    display:inline-block;
    margin-right:10px;
    width: 875px;
}
.Searchbar:focus{
    outline:none;
}
.clock{
    font-size: 50px;
}
.OpaqueLayer{
    background-color: #404040;
    opacity: 60%;
}
.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-decoration: none;
    color: white;
}
.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 15px;

}
#link1{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.linkdiv{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -100%);
}
